@use "../helpers"as *;
/*---------- HERO (START)---------------------*/

.hero {
    padding-top: 170px;

    @include laptop {
        padding-top: 100px;
    }
}

.hero-mrt {
    &__grid {
        display: grid;
        grid-template-columns: 58% 41%;
        grid-template-rows: auto auto;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__main {
        grid-row: 1 / -1;

        @media (max-width: 992px) {
            grid-row: 1;
        }
    }

    &__side {

        &--top {
            grid-column: 2;
            grid-row: 1;

            @media (max-width: 992px) {
                grid-column: 1;
            }
        }

        &--bottom {
            grid-column: 2;
            grid-row: 2;

            @media (max-width: 992px) {
                grid-column: 1;
            }
        }
    }

    &__slider,
    &__side-slider {
        height: 100%;
    }

    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 40px;
        overflow: hidden;
        padding: 64px 48px 48px 48px;
        position: relative;

        height: 100%;

    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        z-index: 2;

    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.2;
        color: var(--blue_black-2);
        margin-bottom: 12px;


    }

    &__text {

        line-height: 1.5;
        letter-spacing: 0.01em;
        color: var(--blue_black-2);
        margin-bottom: 24px;
        max-width: 374px;
    }

    &__price {
        display: inline-block;
        border-radius: 14px;
        padding: 10px 16px;


        font-weight: 700;
        font-size: 20px;


        line-height: 1.1;
        letter-spacing: 0.01em;
        color: var(--blue_dark);
        background-color: var(--white);

    }

    &__btn {
        max-width: max-content;
    }

    &__image-bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: var(--gray_white);

    }

    &__image-wrapper {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }





    &__nav {
        position: absolute;

        bottom: 48px;
        left: 250px;
        display: flex;
        column-gap: 16px;
        z-index: 3;



    }

    &__arrow,
    &__side-arrow {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: var(--white);
        border: var(--border-gray_light);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;




        svg {
            display: block;
            color: var(--blue_dark);
            transition: color 0.2s ease;
        }

        &:hover svg,
        &:focus-visible svg {
            color: var(--blue_hover);
        }
    }

    &__side-slide {
        background: var(--gray_white);
        border-radius: 40px;
        padding: 32px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 35px;


    }



    &__side-title {

        font-weight: 600;
        font-size: 32px;

        line-height: 1.2;
        letter-spacing: 0.01em;
        color: var(--blue-dark-2);
        margin-bottom: 12px;
    }

    &__side-text {
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: var(--blue_black-2);
    }

    &__side-btn {
        background-color: var(--white);
        max-width: max-content;
    }

    &__side-nav {
        position: absolute;

        bottom: 32px;
        left: 345px;
        display: flex;
        column-gap: 16px;
        z-index: 3;
    }



    &__promo {
        background: var(--gray_white);
        border-radius: 40px;


        display: flex;
        align-items: center;

        position: relative;
        overflow: hidden;

    }

    &__promo-content {
        max-width: 65%;
        z-index: 2;
        padding: 40px 0px 40px 32px;

        @media (max-width: 768px) {
            max-width: 60%;
        }
    }

    &__promo-title {

        font-weight: 600;
        font-size: 32px;

        line-height: 1.2;
        letter-spacing: 0.01em;
        color: var(--blue-dark-2);
        margin-bottom: 16px;
    }

    &__promo-text {
        font-weight: 400;
        font-size: 20px;

        line-height: 1.5;
        letter-spacing: 0.01em;
        color: var(--blue_black-2);
    }



    &__promo-image-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 255px;
        width: 100%;
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        z-index: 1;
        background-image: url('../images/hero-mrt/pro.webp');



    }
}




/// =====================
// HERO — Преимущества
// =====================

.hero {
    &__features-list {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include laptop-s {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            gap: 16px;
        }

        @include mobile {

            gap: 12px;
        }

        @include mobile-m {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }

    &__features-item {
        position: relative;
        display: flex;

        background-color: var(--gray_blue);
        border: var(--border-gray_light);
        border-radius: 24px;
        overflow: hidden;
        min-height: 136px;

        @include tablet {
            min-height: 92px;
        }

        @include mobile {
            min-height: 86px;
        }
    }

    &__features-title {
        position: relative;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(--blue_black);
        padding: 24px;
        z-index: 2;

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &__features-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;

        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        z-index: 1;
    }
}

/*---------- HERO (END)---------------------*/